{% assign my_script = include.pageId %}

{% if my_script == "postscript-index.html" %}
{% include postscript-index.html %}
{% endif %}

{% if my_script == "postscript-calendar.html" %}
{% include postscript-calendar.html %}
{% endif %}

{% if my_script == "postscript-chartjs.html" %}
{% include postscript-chartjs.html %}
{% endif %}

{% if my_script == "postscript-default.html" %}
{% include postscript-default.html %}
{% endif %}

{% if my_script == "postscript-echarts.html" %}
{% include postscript-echarts.html %}
{% endif %}

{% if my_script == "postscript-form.html" %}
{% include postscript-form.html %}
{% endif %}

{% if my_script == "postscript-form-advanced.html" %}
{% include postscript-form-advanced.html %}
{% endif %}

{% if my_script == "postscript-form-validation.html" %}
{% include postscript-form-validation.html %}
{% endif %}

{% if my_script == "postscript-form-wizard.html" %}
{% include postscript-form-wizard.html %}
{% endif %}

{% if my_script == "postscript-general-elements.html" %}
{% include postscript-general-elements.html %}
{% endif %}

{% if my_script == "postscript-morisjs.html" %}
{% include postscript-morisjs.html %}
{% endif %}

{% if my_script == "postscript-othercharts.html" %}
{% include postscript-othercharts.html %}
{% endif %}

{% if my_script == "postscript-profile.html" %}
{% include postscript-profile.html %}
{% endif %}

{% if my_script == "postscript-project-detail.html" %}
{% include postscript-project-detail.html %}
{% endif %}

{% if my_script == "postscript-tables-dynamic.html" %}
{% include postscript-tables-dynamic.html %}
{% endif %}

{% if my_script == "postscript-widgets.html" %}
{% include postscript-widgets.html %}
{% endif %}