{% assign my_script = include.pageId %}

{% if my_script == "script-index.html" %}
    {% include script-index.html %}
{% endif %}

{% if my_script == "script-calendar.html" %}
    {% include script-calendar.html %}
{% endif %}

{% if my_script == "script-default.html" %}
    {% include script-default.html %}
{% endif %}

{% if my_script == "script-form.html" %}
    {% include script-form.html %}
{% endif %}

{% if my_script == "script-form-advanced.html" %}
    {% include script-form-advanced.html %}
{% endif %}

{% if my_script == "script-general-elements.html" %}
    {% include script-general-elements.html %}
{% endif %}

{% if my_script == "script-othercharts.html" %}
    {% include script-othercharts.html %}
{% endif %}

{% if my_script == "script-tables-dynamic.html" %}
    {% include script-tables-dynamic.html %}
{% endif %}
