
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if page.x-frame-opt == "deny" %}
        <meta http-equiv="X-Frame-Options" content="deny">
        {% endif %}
        {% if page.x-frame-opt == "sameorigin" %}
        <meta http-equiv="X-Frame-Options" content="sameorigin">
        {% endif %}
        <title>{{ site.title }}</title>

    <!-- Bootstrap core CSS -->
    {% include bootstrap-core-css.html %}

    <!-- Custom styling plus plugins -->
    {% capture pagescript %}{{ page.script }}{% endcapture %}
    {% include script-master.html pageId=pagescript %}


</head>


<body class="nav-md">

<div class="container body">


    <div class="main_container">

        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">

                <div class="navbar nav_title" style="border: 0;">
                    <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>{{ site.title }}</span></a>
                </div>

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                {% include profile.html %}
                <!-- /menu profile quick info -->

                <br />

                <!-- sidebar menu -->
                {% include navigation.html %}
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                {% include menu-footer.html %}
                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        {% include topnav.html %}
        <!-- /top navigation -->

        <!-- page content -->
        {{ content }}
        <!-- /page content -->

    </div>

</div>

<div id="custom_notifications" class="custom-notifications dsp_none">
    <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
    </ul>
    <div class="clearfix"></div>
    <div id="notif-group" class="tabbed_notifications"></div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/localstorage.js"></script>
<script src="js/initPendo.js"></script>

<!-- { include {{page.postscript}} %} -->
{% capture postscript %}{{ page.postscript }}{% endcapture %}
{% include postscript-master.html pageId=postscript %}

</body>

</html>
